.App {
    min-height: 100vh;
    background: radial-gradient(circle at 49% 4%, rgba(31, 55, 86, 1) 15%, rgba(20, 21, 57, 1) 100%);
    /*background: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));*/
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}